page-home-nologin {

    //CABEZERA
    .contiene{
       
      text-align: center; 
      background: white;
    
      }
    .alas{
        position: relative;
        width: 60px;
        height: 50px;
        left: 30px;
        top:10px;
       
     }
     .headbot{
         left:60px;
         height: 20px;
         width: 80px;
         bottom: 10px;
     }
   //fin de cabezera
 
   .contenedor{
    background: skyblue;
   }

 //TITULOS DE CAJAS
 .titu{
    color: #F9F7F6;
    text-shadow:1px 2px rgba(0,0,0,.50); 
    font-size: 15px;
  }
    //CAJA DE IMAGENES
    .caja{
        width: 75%;
        height:80px;
        border:0.5px solid black;
      }

     .caja_evEspeciales{
       background-image: url("../../assets/imgs/nologevento.jpg");
       background-size: cover; 
     }
     
     .caja_ganadores{
        background-image: url("../../assets/imgs/nologganadores.jpg");
        background-size: cover; 
      }
      
     .caja_eventos{
        background-image: url("../../assets/imgs/eve.png");
        background-size: cover; 
      }
      //fin de caja imagenes
  
   
}
