<ion-header text-center  padding-top>
  <ion-toolbar>
  <div class="contienehead">
      
      <img class="alas" src="./../../assets/imgs/cabezera/alas.PNG">
      <button class="headbot"ion-button small  (click)="aLogin()" round>Acceder</button>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-grid text-center class="contenedor">
                            <ion-row>
                                <ion-col>
                                     <h3  class="titu">Eventos Especiales</h3>
                                    <button ion-button class="caja caja_evEspeciales" (click)="evEspeciales()"></button>
                               </ion-col>
                            </ion-row>
                            <ion-row>
                                   <ion-col>
                                           <h3 text-center class="titu">Ganadores</h3>
                                           <button ion-button  class="caja caja_ganadores" (click)="ganadores()" ></button>
                                  </ion-col>
                               </ion-row>
                               <ion-row >
                                       <ion-col>
                                              <h3 text-center class="titu">Eventos</h3>
                                              <button ion-button  class="caja caja_eventos" (click)="eventosReto()" ></button>
                                       </ion-col >
                              </ion-row>
                             
                        </ion-grid>
    
</ion-content>
