<ion-header text-center  padding-top>
    <ion-toolbar>
    <div class="contiene">
        
        <img class="alas" src="./../../assets/imgs/cabezera/alas.PNG">
      
    </div>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <h1 text-center class="titulo">Acceso</h1>
  <ion-grid>
      <ion-row  text-center >
         <ion-col col-12>
            <div class="cajatexto">
               <ion-input type="text"   class="input_texto" placeholder="  Usuario" ></ion-input>
            </div>
         </ion-col>
         <ion-col col-12>
            <div class="cajatexto">
               <ion-input type="email"   class="input_texto" placeholder="  Contraseña" ></ion-input>
            </div>
         </ion-col>
         <ion-col class="mensaje" col-12>¿olvido su contraseña ?
             <span style="color:red; font-style: italic;" (click)="recordarPsw()">click aqui</span>
         </ion-col>
         <ion-col col-12>
            <button ion-button class="butAceder" (click)="aHome()" round>Acceder</button>
        </ion-col>
      </ion-row>
      <ion-row text-center   >
          <ion-col col-12>
             <div class="redeSocial">
                <button ion-button class="but " (click)="aFace()" >Facebook</button>
                <button ion-button class="but" (click)="aGmai()" >Gmail</button>
             </div>
          </ion-col>
          <ion-col class="mensaje" col-12>¿No te has registrado ?
              <span style="color:red; font-style: italic;" (click)="registrarte()">Registrate</span>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
