page-login {
     //CABEZERA
     .contiene{
       
        text-align: center; 
        background: white;
      
        }
      .alas{
          position: relative;
          width: 60px;
          height: 60px;
         
         
       }
      //fin de cabezera

       .titulo{
         color: #F9F7F6;
         text-shadow:0px 2px rgba(0,0,0,.50); 
       }

    //CAJAS DE ACCEDER
    .cajatexto{
        text-align: justify;
        outline: none;
        margin: 0 auto;
        width: 80%;
        height: 20px;
        padding-bottom: 3px;
        background-color: #F9F7F6;
      
     
        border: 0.5px solid rgba(0,0,0,.25);
        border-radius: 62px 66px 62px 78px;
       box-shadow: 0px 2px rgba(0,0,0,.50);
    }
    
   
      .input_texto{
          margin-left:30px;
          position: relative;
          bottom: 10px;
      
        
      }
      //fin de cajas de acceder
      .mensaje{
          font-size: 10px;
      }

      //boton de aceder
      .butAceder{
        height: 20px;
        width: 80px;
        font-size: 14px;
       }
     
      //botones redes sociales
      .redeSocial{
        
          background: yellow;
          margin:0 auto;
          text-align: center;
      }
      .but{
        //  display: inline-;
         height: 25px;
         width:40%;
         font-size:15px;
         margin:5px;
         border:1px solid grey;
         border-radius: 5px 5px 5px 5px;
      }


}
