page-ganadores {
    .contenedor{
        margin-top:80px;
        background: skyblue;
        padding-bottom: 10px;
     }
    
     //TITULOS DE CAJAS
     .cont_titu{
         background: rgb(212, 38, 142);
         width: 75%;
         margin:0 auto;
         border-radius: 4px 4px 4px 4px;
     }
     .titu{
        color: #F9F7F6;
        font-size: 15px;
      }
        //CAJA DE IMAGENES
        .caja{
            width: 75%;
            height:80px;
            border:0.5px solid black;
          }
    
         .caja_uno{
           background-image: url("../../assets/imgs/nologevento.jpg");
           background-size: cover; 
         }
         
         .caja_dos{
            background-image: url("../../assets/imgs/nologganadores.jpg");
            background-size: cover; 
          }
          
         .caja_tres{
            background-image: url("../../assets/imgs/eve.png");
            background-size: cover; 
          }

          .but_participa{
            width: 50%;
            height:20px;
            color:white;
            font-size: 12px;
          }

}
