<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="retos" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="perfil" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="tarjetas" tabIcon="card"></ion-tab>
</ion-tabs>
