<ion-header>

  <ion-navbar>
    <ion-title>tarjetas</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <div class="contenedor">
      <div text-center ion-button class="caja caja_amazon"></div>
      <button class="boton" ion-button (click)="pagar('amazon')" small>Comprar</button>
    </div>
    
</ion-content>
