page-tarjetas {

    


    
    //cajas de banners

    .contenedor{
        text-align: center;
        margin:20px;
    }


    .caja{
        width: 200px;
        height:100px;
        border:0.5px solid black;
        
     }

     .caja_amazon{
       background-image: url("../../assets/imgs/amazonprime.jpg");
       background-size: cover; 
    }
    
    .boton{
        margin-left: 100px;
    }
}
