<page-cabezera  [titulohead]="tituhead"></page-cabezera>

<ion-content padding >
  <ion-grid text-center class="contenedor" padding>
         <ion-row>
                <ion-col><div  class="cont_titu"><h3  class="titu">Reto de fotografia</h3></div></ion-col>
         </ion-row>
   
    <ion-row>
        <ion-col>
             
               <button ion-button class="caja caja_uno" (click)="participar()"></button>
               <button ion-button color="botones"  class="but_participa" (click)="participar()" >Participar</button>
              </ion-col>
    </ion-row>
    <ion-row>
           <ion-col>
                 <button ion-button  class="caja caja_dos" (click)="participar()" ></button>
                 <button ion-button color="botones"  class="but_participa" (click)="participar()" >Participar</button>
           </ion-col>
    </ion-row>
 
</ion-grid>
</ion-content>
