<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <div text-center>
  <ion-img width="80" height="80" src="..."></ion-img>
  </div>
    
   <div>Sergio Alejandro</div>
   <div>34</div>
   <div>Informatico</div>
   <div>España</div>
   <div>Madrid</div>
   
  
</ion-content>
