<page-cabezera  [titulohead]="tituhead"></page-cabezera>

<ion-content padding>
   <ion-grid text-center class="contenedor">
          <ion-row>
              <ion-col>
                     <h3  class="titu">Eventos Especiales</h3>
                     <ion-icon name="arrow-back" class="flech" (click)="eventRetro()"></ion-icon>
                     <button ion-button class="caja caja_evEspeciales" (click)="evEspeciales()"></button>
                     <ion-icon name="arrow-forward" class="flech" (click)="eventAvan()"></ion-icon>
                    </ion-col>
          </ion-row>
          <ion-row>
                 <ion-col>
                         <h3 text-center class="titu">Ganadores</h3>
                         <button ion-button  class="caja caja_ganadores" (click)="ganadores()" ></button>
                </ion-col>
             </ion-row>
             <ion-row >
                     <ion-col>
                            <h3 text-center class="titu">votaciones</h3>
                            <button ion-button  class="caja caja_votaciones" (click)="votaciones()" ></button>
                     </ion-col >
            </ion-row>
           
      </ion-grid>

    </ion-content> 






<!--    <ion-row>
      <ion-col>
          <button ion-button text-center  margin (click)="especiales()" round>EVENTOS ESPECIALES</button>
      </ion-col>
      <ion-col>
          <button ion-button text-center  margin (click)="ganadores()" round>GANADORES</button>
      </ion-col>
      <ion-col>
          <button ion-button text-center  margin (click)="eventoReto()" round>EVENTOS / RETOS</button>
      </ion-col>
    </ion-row>-->
  

