page-home {
   .contenedor{
    margin-top:80px;
    background: skyblue;
    padding-bottom: 10px;
   }

 //TITULOS DE CAJAS
 .titu{
    color: #F9F7F6;
    text-shadow:1px 2px rgba(0,0,0,.50); 
    font-size: 15px;
  }
    //CAJA DE IMAGENES
    .caja{
        width: 75%;
        height:80px;
        border:0.5px solid black;
      }

     .caja_evEspeciales{
       background-image: url("../../assets/imgs/nologevento.jpg");
       background-size: cover; 
     }
     
     .caja_ganadores{
        background-image: url("../../assets/imgs/nologganadores.jpg");
        background-size: cover; 
      }
      
     .caja_votaciones{
        background-image: url("../../assets/imgs/eve.png");
        background-size: cover; 
      }
      //fin de caja imagenes
      .flech{
          position: relative;
          top:10px;
         font-size: 30px;
        }
       

}
