page-cabezera {
   
    *{
        margin:0px;
        padding:0px;
    }
    
    //CABEZERA
    
    .contiene{
        padding-top: 5px;
      }
      
     .contiene img{
       width: 50px;
       height: 50px;
      }
      .alas{
         position: relative;
         right: 17px;
         top: 10px;
        
      }
      .titulo{
        
       display: inline-flex;
      position: relative;
      bottom:15px;
      width: 150px;
      font-weight: bold;
      background:yellow;
     }
     span{
         text-align: center;
     }
    
     .logo{
        position: relative;
         left: 20px;
         top:10px;
     }
    
     
}
