<ion-header text-center  padding-top>
  <ion-toolbar>
  <div class="contiene">
      <img class="alas" src="./../../assets/imgs/cabezera/alas.PNG">
      <div  class="titulo" >
       <span>{{titulohead}}</span> 
      </div>
      <img class="logo" src="./../../assets/imgs/cabezera/logo.PNG">
  </div>
  </ion-toolbar>
</ion-header>