<page-cabezera  [titulohead]="tituhead"></page-cabezera>

<ion-content padding >
  <ion-grid text-center class="contenedor" padding> 
      <ion-row>
          <ion-col col-12>
              <button class="participa" (click)="participa()">PARTICIPA</button>
            </ion-col>
      
      <ion-col col-12>
               <button ion-button class="caja caja_uno" (click)="votaFo()"></button>
               <button ion-button color="botones"  class="but_vota" (click)="votaFo(usuario)" >
                       Fotografia de <br> ({{usuario}})</button>
              </ion-col>
    
         <ion-col col-12>
            <button ion-button class="caja caja_uno" (click)="votaFo()"></button>
            <button ion-button color="botones"  class="but_vota" (click)="votaFo()" >
                             Fotografia de <br> ({{usuario}})</button>
         </ion-col>
 
      <ion-col col-12>
               <button ion-button class="caja caja_uno" (click)="votaFo()"></button>
               <button ion-button color="botones"  class="but_vota" (click)="votaFo(usuario)" >
                       Fotografia de <br> ({{usuario}})</button>
              </ion-col>
   
         <ion-col col-12>
            <button ion-button class="caja caja_uno" (click)="votaFo()"></button>
            <button ion-button color="botones"  class="but_vota" (click)="votaFo()" >
                             Fotografia de <br> ({{usuario}})</button>
         </ion-col>
   </ion-row>
    
</ion-grid>
</ion-content>
