<style>
  *{
    background: #979797  ;
    margin:0px;
    padding:0px;
  }
  
  /* boton de cerrar */
 
   .cierra{
           margin-top:5px;
          position: relative;
           right: -35px;
           color:rgb(212, 38, 142);
          margin-left:200px;
           font-size:20px;
           margin-bottom: 10px;
           
           }

  /* imagen */
  .cont_imagen{
     width: 90%;
     margin: 0 auto;
     height: 140px;
     text-align: center;
    
  }
  img{
    width: 100%;
    height: 100%;
  }

  /*pie de foto*/
  .cont_pieFoto{
   padding: 10px;
     }
  .pieFoto{
     background:rgb(212, 38, 142);
     width: 70%;
     color:white;
     text-align: center;
     border-radius: 5px 5px 5px 5px;
     padding:8px;

     font-size: 12px;
     margin: 5px auto;
  }
  /* Descripcion*/

  .descri{
  padding: 10px;
  }

  /* boton final */
  .cont_boton{
    padding:10px;
  }
  .boton{
      margin:5px;
     padding: 8px;
     background:rgb(212, 38, 142);
     color:white;
     text-align: center;
     border-radius: 5px 5px 5px 5px;
     font-size: 12px;
 }
  
</style>

<ion-content >
  <ion-icon    name="close-circle" class="cierra" (click)="cierra()"></ion-icon>
         <div  class="cont_imagen">
               <img [src]='srcImagen'/>
         </div>
        <div class="cont_pieFoto">
            <div class="pieFoto">
                FOTOGRAFIA DE <br>
               {{concursante}}
               </div>
        </div>
         <div class="descri">
             {{descripcion}}
         </div>
         <div text-center class="cont_boton">
            <button class="boton"  (click)="votar(concursante)">Votar</button>
        </div>

   </ion-content>