<page-cabezera  [titulohead]="tituhead"></page-cabezera>
<ion-content padding >
  <ion-grid text-center class="contenedor" padding>
    <div [hidden]='valorhiden' class="votado">GRACIAS ! votaste a {{votado}}</div>
    <ion-row>
         <ion-col>
               <div  class="cont_titu"><h3  class="titu">Vota</h3></div>
               <button ion-button class="caja caja_uno" (click)="votaFo(usuario)"></button>
               <button ion-button color="botones"  class="but_vota" (click)="votaFo()" >
                       Fotografia de <br> ({{usuario}})</button>
          </ion-col>
    </ion-row>
    <ion-row>
         <ion-col>
            <button ion-button class="caja caja_uno" (click)="votaFo()"></button>
            <button ion-button color="botones"  class="but_vota" (click)="votaFo()" >
                             Fotografia de <br> ({{usuario}})</button>
         </ion-col>
   </ion-row>
   <ion-row>
      <ion-col>
            <div  class="cont_titu"><h3  class="titu">Vota</h3></div>
            <button ion-button class="caja caja_uno" (click)="votaFo()"></button>
            <button ion-button color="botones"  class="but_vota" (click)="votaFo()" >
                    Fotografia de <br> ({{usuario}})</button>
       </ion-col>
 </ion-row>
 <ion-row>
    <ion-col>
          <div  class="cont_titu"><h3  class="titu">Vota</h3></div>
          <button ion-button class="caja caja_uno" (click)="votaFo()"></button>
          <button ion-button color="botones"  class="but_vota" (click)="votaFo()" >
                  Fotografia de <br> ({{usuario}})</button>
     </ion-col>
</ion-row>
</ion-grid>
</ion-content>