page-registrarse {
 
     //CABEZERA
     .contiene{
       
        text-align: center; 
        background: white;
      
        }
      .alas{
          position: relative;
          width: 60px;
          height: 60px;
       }
      //fin de cabezera

      //CAJAS DE FORMU
      .cajatexto{
        /* #F9F7F6*/
        outline: none;
        margin: 0 auto;
        width: 100%;
        height: 25px;
     
        border: 0.5px solid rgba(0,0,0,.25);
        border-radius: 62px 66px 62px 78px;
     
       border: 0.5px solid rgba(0,0,0,.25);
       border-radius: 62px 66px 62px 78px;
       box-shadow: 0px 2px rgba(0,0,0,.50);
       padding-bottom: 5px;
    }
    
    .inputexto{
       height: 15px;
       margin-left:7px;
        bottom:5px;
     }

     .radios{
         padding: 6px;
         background:yellow;
     }
}
