<ion-header text-center  padding-top>
    <ion-toolbar>
    <div class="contiene">
        
        <img class="alas" src="./../../assets/imgs/cabezera/alas.PNG">
      
    </div>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
    <ion-grid>
        <ion-row margin-top >
            <ion-col col-12>
                  <div class="cajatexto">
                       <ion-input  type="text" class="inputexto" placeholder="Nombre y Apellido"></ion-input>
                  </div>    
            </ion-col>
            <ion-col col-12>
              <div class="cajatexto">
                   <ion-input  type="text" class="inputexto" placeholder="codigo Postal"></ion-input>
              </div>    
            </ion-col>
            <ion-col col-12>
                 <div class="cajatexto">
                     <ion-input  type="text" class="inputexto" placeholder="ciudad"></ion-input>
                 </div>    
            </ion-col>
            <ion-col col-12>
                 <div class="cajatexto">
                   <ion-input  type="number" class="inputexto" placeholder="Edad"></ion-input>
                </div>    
            </ion-col>
            <ion-col col-12>
                <div class="cajatexto">
                  <ion-input  type="password" class="inputexto" placeholder="Contraseña"></ion-input>
               </div>    
            </ion-col>
            <ion-col col-12>
               <div class="cajatexto">
                 <ion-input  type="password" class="inputexto" placeholder="Confirma Contraseña"></ion-input>
               </div>    
            </ion-col>
       </ion-row>
       <ion-row  padding-top >
           <ion-col col-12>
                 <h6 text-center>Sexo</h6>
                 <div class="radios"></div>
           </ion-col>
           <ion-col col-12>
                <h6  text-center>Rango de edad</h6>
                  <div class="radios"></div>
          </ion-col>
          <ion-col col-12>
               <h6  text-center>Clasificacion de Juegos</h6>
               <div class="radios"></div>
          </ion-col>
      </ion-row>
       <ion-row text-center padding-top>
            <ion-col >
                   <button ion-button class="but" (click)="confirmar()" round>Registrar </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
