<page-cabezera  [titulohead]="tituhead"></page-cabezera>

<ion-content padding >
  <ion-grid text-center class="contenedor" padding>
    <ion-row>
        <ion-col>
               <div  class="cont_titu"><h3  class="titu">Reto</h3></div>
               <button ion-button class="caja caja_uno" (click)="votaFoto()"></button>
               <button ion-button color="botones"  class="but_participa" (click)="votaFoto()" >Reto de Fotografia</button>
              </ion-col>
    </ion-row>
    <ion-row>
           <ion-col>
                 <button ion-button  class="caja caja_dos" (click)="votaVideo()" ></button>
                 <button ion-button color="botones"  class="but_participa" (click)="votaVideo()"> Reto de Video</button>
           </ion-col>
    </ion-row>
    <ion-row >
           <ion-col>
               <button ion-button  class="caja caja_tres" (click)="quiz()" ></button>
               <button ion-button color="botones"  class="but_participa" (click)="quiz()" >Quiz</button>
           </ion-col>
      </ion-row>
     
</ion-grid>
</ion-content>