<page-cabezera  [titulohead]="tituhead"></page-cabezera>

<ion-content padding >
  <ion-grid text-center class="contenedor" padding>
    <ion-row>
        <ion-col>
               <div  class="cont_titu"><h3  class="titu">Reto de fotografia</h3></div>
               <button ion-button class="caja caja_uno" (click)="fotoReto()"></button>
              </ion-col>
    </ion-row>
    <ion-row>
           <ion-col>
                 <div  class="cont_titu"><h3  class="titu">Reto de Video</h3></div>
                 <button ion-button  class="caja caja_dos" (click)="videoReto()" ></button>
                
           </ion-col>
    </ion-row>
    <ion-row >
           <ion-col>
               <div  class="cont_titu"><h3  class="titu">Quiz</h3></div>
               <button ion-button  class="caja caja_tres" (click)="quizReto()" ></button>
              
           </ion-col>
      </ion-row>
     
</ion-grid>
</ion-content>
